[galaxy]
server_list  =  community_repo,rh-certified_repo,published_repo,inbound-casc,ocp-community_repo,ocp-published_repo,ocp-rh-certified_repo,ocp-inbound-casc,inbound-redhat_cop
ignore_certs = yes

[galaxy_server.community_repo]
url = https://automationhub.bcnconsulting.com/api/galaxy/content/community/
token = 56005a7c4af014787d78df39b12124921a8d8927

[galaxy_server.rh-certified_repo]
url = https://automationhub.bcnconsulting.com/api/galaxy/content/rh-certified/
token = 56005a7c4af014787d78df39b12124921a8d8927

[galaxy_server.published_repo]
url = https://automationhub.bcnconsulting.com/api/galaxy/content/published/
token = 56005a7c4af014787d78df39b12124921a8d8927

[galaxy_server.inbound-redhat_cop]
url = https://automationhub.bcnconsulting.com/api/galaxy/content/inbound-redhat_cop/
token = 56005a7c4af014787d78df39b12124921a8d8927

[galaxy_server.inbound-casc]
url = https://automationhub.bcnconsulting.com/api/galaxy/content/inbound-casc/
token = 56005a7c4af014787d78df39b12124921a8d8927

[galaxy_server.ocp-community_repo]
url = https://automationhub-dev.apps.cluster-7987.sandbox19.opentlc.com/api/galaxy/content/community/
token = 8ee76b321435cea8d66c043ea7b5c514d1917121

[galaxy_server.ocp-published_repo]
url = https://automationhub-dev.apps.cluster-7987.sandbox19.opentlc.com/api/galaxy/content/published/
token = 8ee76b321435cea8d66c043ea7b5c514d1917121

[galaxy_server.ocp-rh-certified_repo]
url = https://automationhub-dev.apps.cluster-7987.sandbox19.opentlc.com/api/galaxy/content/rh-certified/
token = 8ee76b321435cea8d66c043ea7b5c514d1917121

[galaxy_server.ocp-inbound-casc]
url = https://automationhub-dev.apps.cluster-7987.sandbox19.opentlc.com/api/galaxy/content/inbound-casc/
token = 8ee76b321435cea8d66c043ea7b5c514d1917121
